:root {
  width: 100%;
  padding: 0;
  margin: 0;
  /* --font-primary: "Libre Baskerville", serif; */
  --font-secondary: "Libre Baskerville", serif;
  --font-ticket: "Lato", sans-serif;
  /* --font-secondary: "Lato", sans-serif; */
  /* --font-secondary: "Cormorant Garamond", serif; */
  --font-primary: "Cormorant Garamond", serif;
  /* --font-secondary: "Libre Baskerville", serif; */
  --background-primary: rgb(256, 256, 256, 1);
  --background-secondary: #6a9e8db0;
  --accent-color: #418a6ac5;
  --text-color-primary: #17524a;
  --text-color-secondary: rgb(256, 256, 256, 1);
  --text-black: #0e4941;
  --green-price: #79a42e;
  --red-price: #ff0000c7;
}

#root {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.ticket {
  font-family: var(--font-ticket);
  color: var(--text-color-primary);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 20px;
  padding: 10px;
  width: fit-content;

  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);

  @media screen and (min-width: 600px) {
    font-size: 24px;
    padding: 20px;
  }
}

h3 {
  margin: 0;
  font-family: var(--font-primary);
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;

  @media screen and (min-width: 600px) {
    font-size: 30px;
    line-height: 44px;
  }
}

h4 {
  margin: 0;
  font-family: var(--font-primary);
  font-size: 22px;
  line-height: 33px;
  font-weight: 400;
  @media screen and (min-width: 600px) {
    font-size: 24px;
    line-height: 36px;
  }
}

h5 {
  margin: 0;
  font-family: var(--font-secondary);
  font-size: 22px;
  line-height: 33px;
}

p {
  font-family: var(--font-secondary);
  font-size: 20px;
  line-height: 30px;
  padding: 0;
  margin: 0;
}

a {
  margin: 0;
  font-family: var(--font-primary);
  font-size: 26px;
  line-height: 40px;
  color: inherit;
  scale: 1;
  opacity: 0.7;
  cursor: pointer;
  transition: all 500ms ease-in-out;
}

a:hover,
a:focus {
  opacity: 1;
  color: inherit;
  scale: 1.05;
}

.mail {
  font-size: 18px;
  font-weight: 700;
  color: var(--text-color-primary);
  scale: 1;
  opacity: 1;
  cursor: pointer;
  text-transform: uppercase;
  transition: all 250ms ease-in-out;
}

.mail:hover,
.mail:focus {
  opacity: 1;
  color: var(--green-price);
  scale: 1;
}

.gap {
  gap: 24px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px 40px;
  max-width: 760px;
  margin: 0 auto;
}

.list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style-type: none;
  padding: 0;
}

.listItem {
  padding: 0;
  margin: 0;
}

.card {
  padding: 20px 50px;
  margin: 10px 30px;
  background: rgba(255, 255, 255, 0.16);
  border-radius: 16px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 3px 7px 0 #ffffff, inset 0px -3px 10px 0px #ffffffbb;
}

.background {
  background: var(--background-primary);
  width: 100vw;
}

.backgroundOne {
  background: var(--background-secondary);
  height: fit-content;
  padding: 32px;
  -webkit-box-shadow: 0px 3px 20px 3px var(--background-secondary);
  -moz-box-shadow: 0px 3px 20px 3px var(--background-secondary);
  box-shadow: 0px 3px 20px 3px var(--background-secondary);
}

.backgroundTwo {
  height: fit-content;
  padding: 32px;
}

.backgroundAccent {
  background: var(--accent-color);
  height: fit-content;
  padding: 32px;
  -webkit-box-shadow: 0px 3px 20px 3px var(--accent-color);
  -moz-box-shadow: 0px 3px 20px 3px var(--accent-color);
  box-shadow: 0px 3px 20px 3px var(--accent-color);
}

.text-black,
.text-black:hover,
.text-black:focus {
  color: var(--text-black);
}

.text-secondary {
  color: var(--text-color-secondary);
}

.text-secondary:hover,
.text-secondary:focus {
  color: var(--text-color-secondary);
}

.text-color-primary {
  color: var(--text-color-primary);
  font-weight: 700;
}

.text-link-color-primary {
  color: var(--text-color-primary);
  font-weight: 700;
}

.text-link-color-primary:hover,
.text-link-color-primary:focus {
  color: var(--green-price);
  font-weight: 700;
}

.accent {
  color: var(--accent-color);
}

.redAccent {
  font-weight: 700;
  color: var(--red-price);
  text-decoration: line-through;
}

.greenAccent {
  font-weight: 700;
  color: var(--green-price);
}

.price {
  font-size: 40px;
}

.priceGrand {
  font-size: 48px;
}

img {
  border-radius: 50%;
  scale: 1;
  transition: all 500ms ease-in-out;
  box-shadow: 0 3px 7px 0 var(--background-secondary),
    inset 0px -3px 10px 0px var(--background-secondary);
}

img:hover {
  scale: 1.2;
}

.parralax {
  background-color: var(--background-primary);
  /* The image used */
  background-image: url("https://raw.githubusercontent.com/MarikaGK/zyjzdrowo-kurs/main/src/assets/pxfuel.jpg");

  /* Set a specific height */
  min-height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.glass {
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
}
